<body>
    <div class="body-frame">
        <div class=frame>
            <div class=top-frame>
                <h1>Release Seasons</h1>
            </div>
        </div>


        <div class="image-group-frame">
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("20fw.jpg"),items_path(start_date:"2020-08-01",end_date:"2021-01-31"),class:"image" %>
                </div>
                <p class="image-group-text">2020_feb</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("20ss.jpg"),items_path(start_date:"2020-02-01",end_date:"2020-07-31"),class:"image"%>
                </div>
                <p class="image-group-text">2020_jan</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("19fw.jpg"),items_path(start_date:"2019-08-01",end_date:"2020-01-31"),class:"image"%>
                </div>
                <p class="image-group-text">2019_dec</p>
            </div>
                        <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("19ss.jpg"),items_path(start_date:"2019-02-01",end_date:"2019-07-31"),class:"image"%>
                </div>
                <p class="image-group-text">2019_nov</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("18fw.jpg"),items_path(start_date:"2018-08-01",end_date:"2019-01-31"),class:"image"%>
                </div>
                <p class="image-group-text">2019_oct</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("18ss.jpg"),items_path(start_date:"2018-02-01",end_date:"2018-07-31"),class:"image"%>
                </div>
                <p class="image-group-text">2019_sep</p>
            </div>
        </div>
    </div>
</body>
