<body>   
    <div class="body-frame">
        <div class=frame>
            <div class=top-frame>
                <h1>Release Seasons</h1>
            </div>
        </div>


        <div class="image-group-frame">
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("2020_02february.jpeg"),items_path(start_date:"2019-07-01",end_date:"2019-12-31"),class:"image"%>
                </div>
                <p class="image-group-text">2020_feb</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("2020_01january.jpeg"),items_path(start_date:"2019-01-01",end_date:"2019-06-31"),class:"image"%>
                </div>
                <p class="image-group-text">2020_jan</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("2019_12DECEMBER.jpeg"),"https://fril.jp/search/Supreme%E3%80%80%E3%82%AD%E3%83%A3%E3%83%83%E3%83%97",class:"image"%>
                </div>
                <p class="image-group-text">2019_dec</p>
            </div>
                        <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("2019_11NOVEMBER.jpeg"),"#",class:"image"%>
                </div>
                <p class="image-group-text">2019_nov</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("2019_10OCTOBER.jpeg"),"#",class:"image"%>
                </div>
                <p class="image-group-text">2019_oct</p>
            </div>
            <div class="image-group1-if">
                <div class="image-group1-icon">
                    <%= link_to image_tag("2019_09SEPTEMBER.jpeg"),"#",class:"image"%>
                </div>
                <p class="image-group-text">2019_sep</p>
            </div>
        </div>
    </div>
</body>
