<p id="notice"><%= notice %></p>

<h1>S3images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>File name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @s3images.each do |s3image| %>
      <tr>
        <td><%= s3image.title %></td>
        <td><%= s3image.file_name %></td>
        <td><%= s3image.comment %></td>
        <td><%= link_to 'Show', s3image %></td>
        <td><%= link_to 'Edit', edit_s3image_path(s3image) %></td>
        <td><%= link_to 'Destroy', s3image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S3image', new_s3image_path %>
