<p id="notice"><%= notice %></p>

<div class="size_test">
<%= image_tag("#{@item.image_path}.jpg") %>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @item.release_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Collaboration:</strong>
  <%= @item.collaboration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<div>

<%= link_to 'Back', items_path %>
