<!DOCTYPE html>
<html>
  <head>
    <title>SupremeArchive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<a class="twitter-timeline" data-width="300" data-height="500" data-theme="dark" href="https://twitter.com/Supreme__news?ref_src=twsrc%5Etfw">Tweets by Supreme__news</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
